<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header-sm">目標價選股</div>
        <div class="card-body" style="padding: 30px">
          <h5>股票號碼</h5>
          <div class="d-flex">
            <p-dropdown
              [style]="{ width: '200px' }"
              [options]="idNameList"
              [(ngModel)]="selectedStock"
              placeholder="請選擇"
              [filter]="true"
              filterBy="searchKey"
              (onHide)="handleClick()"
            ></p-dropdown>
            <i
              class="fa fa-spinner fa-pulse ml-2 fa-x fa-fw float-right"
              *ngIf="loading"
            ></i>
          </div>

          <h5 class="mt-2">歷史本益比</h5>
          <span class="mt-2 text-primary">
            {{ historyPeRatio | number: "1.0-2" }}</span
          >
          <h5 class="mt-2">預估年EPS</h5>
          <span class="mt-2 text-primary">{{
            predictYearEPS | number: "1.0-2"
          }}</span>
          <h5 class="mt-2">預估價值</h5>
          <span class="mt-2 text-primary">{{
            predictValue | number: "1.0-2"
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header-sm">查詢紀錄</div>
        <div class="card-body" style="padding: 30px">
          <p-table
            [value]="stockList"
            dataKey="index"
            [responsive]="true"
            styleClass="p-datatable-sm p-datatable-gridlines"
          >
            <ng-template pTemplate="header">
              <tr style="font-size: small">
                <th>Index</th>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
              <tr style="font-size: small">
                <td>{{ row.index }}</td>
                <td>
                  {{ row.name }}
                </td>
                <td>{{ row.value | number: "1.0-2" }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
