<app-site-map-view></app-site-map-view>
<div class="container-fluid mt-2 mb-2">
  <h3 style="text-align: center">{{ date }} 成交量前二十名證券</h3>
  <p-table
    [value]="top20VolumeStocks"
    [columns]="headers"
    [responsive]="true"
    [loading]="loading"
    [scrollable]="true"
    [style]="{
      'min-width': '1392px'
    }"
    scrollHeight="980px"
    styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          *ngFor="let col of columns"
          [ngStyle]="col.style"
          pSortableColumn="{{ col.field }}"
          style="word-break: break-word; font-size: small; text-align: center"
        >
          {{ col.header }}
          <p-sortIcon field="{{ col.field }}"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-item
      let-columns="columns"
      let-idx="rowIndex"
    >
      <tr
        [ngStyle]="{
          'background-color': idx % 2 === 0 ? '#dadada' : 'transparent'
        }"
      >
        <td
          *ngFor="let col of columns; let i = index"
          [ngStyle]="col.style"
          [ngClass]="{
            'text-center': i < 3 || i === 9,
            'text-right': i > 2
          }"
        >
          <span
            *ngIf="typeOf(item[col.field]) !== 'number'"
            [ngStyle]="{
              color: getColor(item[col.field]),
              'font-weight': getFontWeight(item[col.field]),
              'font-size': getFontSize(item[col.field])
            }"
          >
            {{ item[col.field] }}
          </span>
          <span
            *ngIf="typeOf(item[col.field]) === 'number'"
            [ngStyle]="{
              color: getColor(item[col.field]),
              'font-weight': getFontWeight(item[col.field]),
              'font-size': getFontSize(item[col.field])
            }"
          >
            {{ item[col.field] | number: "1.0-2" }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
